/*Custom Fonts*/
@font-face {
	font-family: 'body';
	src: url('../fonts/gillsans.eot');
	src: url('../fonts/gillsans.eot?#iefix') format('embedded-opentype'), url('../fonts/gillsans.woff') format('woff'), url('../fonts/gillsans.ttf') format('truetype'), url('../fonts/gillsans.svg#gillsans') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bodybold';
	src: url('../fonts/gillsansbold.eot');
	src: url('../fonts/gillsansbold.eot?#iefix') format('embedded-opentype'), url('../fonts/gillsansbold.woff') format('woff'), url('../fonts/gillsansbold.ttf') format('truetype'), url('../fonts/gillsansbold.svg#gillsansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'heading';
	src: url('../fonts/helveticalight.eot');
	src: url('../fonts/helveticalight.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticalight.woff') format('woff'), url('../fonts/helveticalight.ttf') format('truetype'), url('../fonts/gillsanslight.svg#gillsanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'logotype';
	src: url('../fonts/pillpopper.eot');
	src: url('../fonts/pillpopper.eot?#iefix') format('embedded-opentype'), url('../fonts/pillpopper.woff') format('woff'), url('../fonts/pillpopper.ttf') format('truetype'), url('../fonts/pillpopper.svg#pillpopper') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Defaults*/
* {
	font-family: 'body';
	font-size: 24px;
	color: #fff;
	margin: 0px;
	box-sizing: border-box;
}

/*preset body and base elements*/
body {
	background-color: #000;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}

b {
	font-family: 'bodybold';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'heading';
	letter-spacing: 5px;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 32px;
}

h5 {
	font-size: 28px;
}

h6 {
	font-size: 24px;
}

/*build a button*/
.btn {
	text-decoration: none;
	margin: 10px;
	padding: 10px 20px;
	display: inline-block;
	background: #08a;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .75);
	text-transform: uppercase;
	border-radius: 50px;
	border: 2px solid #fff;
}

.btn:hover {
	background: #fff;
	box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, .75);
	color: #c0c;
	text-shadow: none;
}

/*header styles*/
header {
	background: #000;
	padding: 15px;
	border-bottom: 10px double #C0C;
}

#logo {
	font-family: 'logotype';
	font-size: 30px;
	text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
	display: inline-block;
	letter-spacing: 1px;
	color: #f0f;
}

nav {
	position: absolute;
	right: 10px;
	top: 10px;
}

nav ul {
	list-style: none;
	padding: 0px;
}

nav>ul>li {
	display: inline-block;
	vertical-align: top;
	width: 100px;
}

nav a {
	padding: 5px 20px;
	text-decoration: none;
	background: linear-gradient(#C0C, #505);
	border: 2px solid #505;
	display: block;
	border-radius: 20px;
	text-align: center;
}

nav>ul>li:nth-child(3),
nav>ul>li:nth-child(4),
nav>ul>li:nth-child(5) {
	width: 40px;
}

nav>ul>li:nth-child(3) a,
nav>ul>li:nth-child(4) a,
nav>ul>li:nth-child(5) a {
	padding: 5px;
	width: 40px;
}

nav ul li ul {
	display: none;
}

nav ul li:hover ul {
	display: block;
	width: 100px;
}

nav ul li:hover ul li a {
	display: block;
	background: #000;
	border-radius: 20px;
	border: 1px solid #c0c;
	padding: 10px;
	margin: 10px 0px;
	font-size: 14px;
}

nav li:hover a,
nav ul li:hover ul li:hover a {
	background: #08a;
	border-color: #fff;
}

/*hero style*/
#hero {
	background-image: url(../img/bghero.jpg);
	background-size: 100% auto;
	background-attachment: fixed;
	background-position: center center;
	padding: 80px 0px 0px 0px;
	text-align: center;
	text-shadow: 0px 2px 10px #000;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

/*call to action*/
.cta {
	background-image: url(../img/bghero.jpg);
	background-size: 100% auto;
	background-attachment: fixed;
	background-position: center center;
	text-align: center;
	width: 100%;
}

.ctaeffect {
	background-image: url(../img/bgcta.jpg);
	background-size: 100% auto;
	background-attachment: fixed;
	background-position: center center;
	opacity: .75;
	width: 100%;
	padding: 60px;
}

.ctaaeffect h2,
.ctaeffect:hover {
	opacity: 1.0!important;
}

/*benefits section*/
#benefits {
	padding: 100px 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: stretch;
}

#benefits>div {
	width: 300px;
	height: 300px;
	display: inline-block;
	vertical-align: top;
	background-color: #505;
	margin: 10px;
	padding: 20px;
	box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, .5);
}

#benefits h5 {
	letter-spacing: 2px;
}

#benefits p {
	font-size: 20px;
	margin-top: 20px;
}

/*svg animation*/
svg path {
	fill:#fff;
}

@-webkit-keyframes iconflip {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@-moz-keyframes iconflip {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@-o-keyframes iconflip {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@keyframes iconflip {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

#benefits>div:hover>div {
	-webkit-animation: iconflip 2s infinite;
	-moz-animation: iconflip 2s infinite;
	-o-animation: iconflip 2s infinite;
	animation: iconflip 2s infinite;
}

#benefits>div>div>svg {
	width: 100%;
	height: 100px;
	padding: 20px;
}

/*upcoming section*/
#upcoming {
	background-color: #000;
	background-image: url(../img/bghalloween.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 175px 0px 0px;
	border-top: 5px solid #C0C;
	border-bottom: 5px solid #C0C;
}

#upcoming div {
	background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
	padding: 200px 20px 20px;
	bottom: 10px;
	width: 100%;
}

#upcoming p {
	margin: 10px;
}

.partypic {
	width: 300px;
	border-radius: 15px;
	border: 2px solid #c0c;
}


/*subpage preset*/
#title {
	margin: 20px;
}

/*event section*/
.event {
	max-width: 650px;
	margin: 20px auto;
	border-radius: -20px 20px 20px 0px;
	border: 5px double #c0c;
	border-left: none;
}

.event:after {
	content: '';
	display: block;
	clear: both;
}

.eventimg,
.eventtext {
	display: block;
	float: left;
}

.eventimg {
	width: 350px;
	border-right: 5px double #c0c;
	padding: 10px 10px 10px 0px;
	border-radius: 0px 50px 50px 0px;
}

.eventimg img {
	max-width: 100%;
	display: block;
	border-radius: 0px 40px 40px 0px;
}

.eventtext {
	padding: 20px;
	width: 295px;
}

.eventtext h6 {
	letter-spacing: 1px;
	font-size: 18px;
}

.eventtext p {
	font-size: 16px;
	margin: 10px 0px;
}

.eventtext .btn {
	margin-left: 0px;
	padding: 10px;
	font-size: 14px;
}